<div class="body">

        <app-navbar></app-navbar>
        <div class="form-todo">
          <div class="formulaire">
            <h3>Ajouter une nouvelle tâche</h3>
            <!-- <form #newTodo action="">
              <label for="titre">Titre</label>
              <input type="text" name="titre">
              <label for="description">Description</label>
              <input #newTodo type="text" name="description">
              <div class="ajouter" (click)="addTodo(newTodo.value)">Ajouter</div>
            </form> -->
            <form (ngSubmit)="onSubmit(contactForm.form.value)" #contactForm="ngForm" action="">
              <label for="titre" class="label">Titre</label>
              <input #titre="ngModel" id="titre" class="input" type="text" [(ngModel)]="todos.title" name="titre" required>
              <label for="description" class="description">Description</label>
              <input #description="ngModel" id="description" class="input" type="text" [(ngModel)]="todos.description" name="description" required>
      
              <button class="ajouter" type="submit" id="btn">Ajouter</button>
            </form>
          </div>
      
          <!-- newTodo.value='' -->
      
          <!-- <input type="text" #newTodo> -->
      
          <!-- *ngFor="let todo of todos" [@contactsAnimation]="state" -->
          <div class="container-to-do">
              <div class="titres">
                  <p class="tasks">Titre</p>
                  <p class="tasks">Description</p>
                  <p class="tasks">Fini</p>
                  <p class="tasks">Actions</p>
                </div>
            
                <div class="a-faire" *ngFor="let todo of todos" [@contactsAnimation]="state">
                  <!-- <table>
                    <tr>
                      <th>Titre</th>
                      <th>Description</th>
                      <th>Fini</th>
                      <th>Actions</th>
                    </tr>
                    <tr *ngFor="let todo of todos" [@contactsAnimation]="state">
                      <td>{{todo.titre}}</td>
                      <td>{{todo.description }}</td>
                      <td>{{todo.done ? '&#10003;' : '&#10005;'}}</td>
                      <td>
                        <button class="delete" (click)="deleteTodo(todo)">Delete</button>
                      </td>
            
                    </tr>
                  </table> -->
                  <div class="container-a-faire">
                    <p class="tasks">{{todo.titre}}</p>
                    <p class="tasks">
                      {{todo.description }}</p>
                    <p class="tasks">{{todo.done ? '&#10003;' : '&#10005;'}}</p>
                    <button class="delete" (click)="deleteTodo(todo)">Supprimer</button>
            
                  </div>
                </div>
      
      
          </div>
          
       
        </div>
      
      </div>