.body {
    display: flex;
    flex-direction: column;
    width:100%;
    margin:0;
    padding:0;
}



.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fc6d42;
}

.form-todo {
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}

h3 {
    color: #fc6d42;
}
.formulaire {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height:50vh;
    justify-content: center;
    border:1px solid #ddcfbd;
}

form {
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:80%;
    /* background-color: #fff6ea; */
    padding:20px;
}

.ajouter {
    background-color : #fc6d42;
    color: white;
    padding: 4px 10px;
    margin-top: 20px;
}

.ajouter:hover {
    border: 1px solid #fc6d42;
    background-color: #fff6ea;
    color: #fc6d42;
}

.todo {
    display: flex;
    width:50%;
    /* background-color: green; */
    margin: 20px;
}

table {
   
    width:80%;

}

label {
    color: #fc6d42;
    text-align: left;
    margin-bottom: 1%;
    margin-top: 1%;
}
input {
    border: 1px solid #f1baa9;
    padding: 10px 10px;
    /* width: 70%; */
    outline: #fc6d42;
}

th, td {
    padding: 15px;
    text-align: left;
    font-size: 12px;
    
  }


td {
    background: #fff6ea;
    /* padding:5px; */
    width:10%;
    color: #fc6d42;
}

th {
    background:#f8e4c8;
    color:#fc6d42;
}

.delete {
    background-color: #fc6d42;
    color: white;
    border:none;
    padding:5px;
    border-radius:5px;
}

.delete:hover {
    border: 1px solid #fc6d42;
    color:#fc6d42;
    background-color:#fff6ea;
}

.a-faire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: green; */

}

.container-a-faire {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    /* background-color: blue; */
    padding:10px;
}

.titres {
    display: flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
    background-color: #f8e4c8;
    padding:10px;
    color:#fc6d42;
}

.container-to-do {
    display: flex;
    flex-direction: column;
    width:50%;
    /* background-color: red; */
    height:50vh;
    margin-left:50px;
    text-align:center;


}

.task {
    color: #fc6d42;
}

/* searchbar  */

.search-form {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
  }
  
  .search-box input[type="text"] {
    border: none;
    background: none;
    z-index: 1;
    width: 25px;
    height: 17px;
    transition: all 0.25s ease-in 0.25s;
    color: transparent;
    font-size: 0.75rem;
    line-height: 25px;
  }
  .search-box input[type="text"]:hover {
    cursor: pointer;
  }
  .search-box input[type="text"]:hover:focus {
    cursor: text;
  }
  .search-box input[type="text"]:hover + span {
    background: rgba(255, 255, 255, 0.2);
  }
  .search-box input[type="text"]:focus {
    width: 250px;
    padding: 0 15px;
    outline: none;
    color: black;
    background: none;
  }
  .search-box input[type="text"]:focus + span {
    width: 250px;
    height: 20px;
    border: none;
    background: #ebeff1;
  }
  .search-box input[type="text"]:focus + span::before {
    width: 2px;
    opacity: 0;
    transition: all 0.25s ease-in;
  }
  .search-box input[type="text"] + span {
    z-index: -1;
    position: absolute;
    border: 2px solid #948c8c;
    top: 0;
    width: 10px;
    height: 10px;
    transition: all 0.25s ease-in 0.25s;
    border-radius: 25px;
    left: 0px;
  }
  .search-box input[type="text"] + span::before {
    transition: all 0.25s ease-in 0.5s;
    transform-origin: left top;
    content: "";
    position: absolute;
    width: 8px;
    height: 4px;
    border-radius: 5px;
    background: #948c8c;
    transform: rotate(45deg) translate(26px, -2px);
    top: -9px;
    left: -9px;
  }
  