
<div *ngIf="profil || logout">
		Inscrivez vous pour voir plus d'options
</div>

<!-- [style.display]="isConnected?'none':'block'" -->
<nav class="navbar" *ngIf="inscription" >
        <h1>{{title}}</h1>
        <div class="user">
            <a class="button-profil" href="" routerLink="/user-edit">{{ inscription }}</a>
            <a class="button-profil" href="">{{ connexion }}</a>
        </div>
    
</nav>

<nav class="navbar" *ngIf="!profil">
        <h1>{{title}}</h1>
        <div class="user">
          <a class="button-profil" href="" routerLink="/user-edit">{{ profil }}</a>
          <a class="button-profil" href="">{{ logout }}</a>
        </div>
    
</nav>