<!-- <div *ngIf="authService.isLoggedIn | async as isLoggedIn else noLogin"> -->
<div>
    <nav class="navbar">
        <h1 routerLink="/">{{title}}</h1>
        <div class="user">
            <a class="button-profil" href="" routerLink="/user-edit">{{ profil }}</a>
            <a class="button-profil" href="">{{ logout }}</a>
        </div>
    </nav>
</div>



<ng-template #noLogin class="navbar">
    <h1 routerLink="/">{{title}}</h1>
    <div class="user">
        <a class="button-profil" href="" routerLink="/register">{{ inscription }}</a>
        <a class="button-profil" href="" routerLink="/login">{{ connexion }}</a>
    </div>
</ng-template>