<app-navbar></app-navbar>

<div class="formulaire">
  <div class="container">
    <h3>Modifier information profil</h3>
    <!-- <form #newTodo action="">
                            <label for="titre">Titre</label>
                            <input type="text" name="titre">
                            <label for="description">Description</label>
                            <input #newTodo type="text" name="description">
                            <div class="ajouter" (click)="addTodo(newTodo.value)">Ajouter</div>
                          </form> -->
    <form action="">
      <label class="label">Nom</label>
      <input class="input" type="text" required>
      <label for="description" class="description">Prénom</label>
      <input class="input" type="text" required>
      <label class="label">Email</label>
      <input class="input" type="text" required>
      <label for="description" class="description">Password</label>
      <input class="input" type="text" required>

      <button class="ajouter" type="submit" id="btn">Ajouter</button>
    </form>
  </div>

</div>
