
<app-navbar></app-navbar>
<div class="formulaire">
  <div class="container">
    <h3>Inscription</h3>
    <!-- <form #newTodo action="">
                                  <label for="titre">Titre</label>
                                  <input type="text" name="titre">
                                  <label for="description">Description</label>
                                  <input #newTodo type="text" name="description">
                                  <div class="ajouter" (click)="addTodo(newTodo.value)">Ajouter</div>
                                </form> -->
    <form (ngSubmit)="onSubmit(formulaire)" #formulaire="ngForm" action="">
      <label for="nom" id="nom" class="label">Nom</label>
      <input ngModel name="name" id="name" class="input" type="text" required>
      <label for="prenom" id="prenom" class="description">Prénom</label>
      <input ngModel class="input" name="prenom" id="prenom" type="text" required>
      <label for="mail" id="mail" class="label">Email</label>
      <input ngModel class="input" name="mail" id="mail" type="email" required>
      <label for="password" id="password" class="label">Password</label>
      <input ngModel class="input" name="password" id="password" type="password" required>

      <button class="ajouter" type="submit" id="btn">S'inscrire</button>
    </form>
  </div>

</div>
